= form_tag({controller: "topics", action: "search"}, method: "get", class: "topic_search_form", remote: true) do
  = label_tag(:q, "Search for:")
  = text_field_tag(:q, '', {class: "search_field"})
= form_for(CrudData::Topic.new, remote: true) do |f|
  = f.text_field :name, hidden: true
  = f.text_field :kind, hidden: true
  = f.submit


%ul.search.results

:javascript
  $('#q.search_field').keyup(function() {
    $('.topic_search_form').submit();
    $('#topic_name').val($(this).val());
  });
