$('.search.results li').each(function(index) {
$(this).fadeOut(300, function() { $(this).remove(); });
});
- @results.each do |result|
  $('.search.results').prepend("#{ escape_javascript(render result) }");
